<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <!-- Voltar -->
    <div class="voltar">
        <a href="/"><i class="las la-angle-left"></i> Voltar</a>
    </div>
    <div class="formulario">
        <form method="post">
            <div class="group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Ex. Laranja lima" required>
            </div>

            <div class="group">
                <label for="preco">Preço</label>
                <input type="text" name="preco" id="preco" placeholder="Ex. 9.99" required>
            </div>

            <div class="group">
                <label for="qtd">Quantidade</label>
                <input type="text" name="qtd" id="qtd" placeholder="Ex. 854" required>
            </div>

            <div class="group">
                <label for="unidade">Unidade</label>
                <select name="unidade" id="unidade" required>
                    <optgroup label="Sólido">
                        <option value="Quilograma(s)">Quilograma(s)</option>
                        <option value="grama(s)">grama(s)</option>
                        <option value="miligrama(s)">miligrama(s)</option>
                    </optgroup>
                    <optgroup label="Líquido">
                        <option value="litro(s)">litro(s)</option>
                        <option value="mililitro(s)">mililitro(s)</option>
                    </optgroup>
                    <optgroup label="Comprimento">
                        <option value="metro(s)">metro(s)</option>
                        <option value="centímetro(s)">centímetro(s)</option>
                        <option value="milímetro(s)">milímetro(s)</option>
                    </optgroup>
                    <optgroup label="Unidade">
                        <option value="unidade(s)" selected>unidade(s)</option>
                    </optgroup>
                </select>
            </div>

            <div class="botoes">
                <div class="botao">
                    <button type="submit">Cadastrar<i class="las la-plus"></i></button>
                </div>
                <div class="botao">
                    <button type="reset">Limpar<i class="las la-broom"></i></button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>