@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.voltar {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
}

a {
    background-color: #FF6D28;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
}

a:hover {
    background-color: #ff6c28e1;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

button, .la-plus, .la-broom {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #FF6D28;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

button:hover {
    cursor: pointer;
    background-color: #ff6c28e1;
}

.group label {
    font-size: 1.6rem;
    font-weight: bold;
}

.group #nome {
    width: 10vw;
    height: 2.5vh;
    font-size: 1.2rem;
}

.group #preco {
    width: 5vw;
    height: 2.5vh;
    font-size: 1.2rem;
}

.group #qtd {
    width: 5vw;
    height: 2.5vh;
    font-size: 1.2rem;
}
.group #unidade {
    width: 7vw;
    height: 2.5vh;
    font-size: 1.2rem;
}
